<div class="row zglos-awarie">
  <div class="col-md-10 col-md-offset-1">
<div class="jumbotron">
  <h1 class="text-primary">Zgłoszenie awarii</h1>
  <ol>
    <li>
      <h3>Czego dotyczy zgłoszenie?</h3>
      <p class="text-muted">Zaznacz typ usterki aby przejść dalej.</p>
      <ul>
        <li>RTV: <small>TV, Radio, Odtwarzacze DVD, Blue-Ray</small></li>
        <li>AGD: <small>Pralki, zmywarki, roboty kuchenne</small></li>
        <li>Sprzęt elekroniczny: <small>Telefony, laptopy, komputery stacjonarne, konsole</small></li>
        <li>Awarie wodno-kanalizacyjne: <small>Zatkana toaleta, pęknięta rura, cieknący kran, zapchany odpływ w zlewie</small></li>
        <li>Awarie ciepłownicze: <small>Ustawienie pieca, zapowietrzone grzejniki</small></li>
        <li>Awarie budowlane: <small>Zalanie przez sąsiada, uszczelnianie okien </small></li>
        <li>Awarie enegetyczne: <small>Wymiana gniazdek, wymiana przewodów </small></li>
      </ul>        
    </li>
    <li>
      <h3>Jak pilnie potrzebujesz pomocy?</h3>
      <p class="text-muted">
        Określ jak szybko mamy zareagować na twój problem. 
      </p>
    </li>
  </ol>
  
  <i class="glyphicon glyphicon-wrench"></i>
  <i class="glyphicon glyphicon-scissors"></i>
  <i class="glyphicon glyphicon-print"></i>
  <i class="glyphicon glyphicon-calendar"></i>
</div>
</div>
</div>